[submodule "third_party/BeatTrack"]
	path = third_party/BeatTrack
	url = https://github.com/mhrice/BeatTrack.git
[submodule "beat_this"]
	path = beat_this
	url = https://github.com/CPJKU/beat_this
[submodule "BeatNet"]
	path = BeatNet
	url = https://github.com/mjhydri/BeatNet.git
[submodule "third_party/BeatNet"]
	path = third_party/BeatNet
	url = https://github.com/mjhydri/BeatNet.git
